*{
  margin: 0px;
}
.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.Img-block{
  flex-shrink: 1;
  min-width: 10px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px  hsla(0, 0%, 0%, 0.1);
  padding: 2%;
  margin: 10px;
  text-align: center;
  transition: 0.5s ease;
}
.Img-block:hover{
  transform: scale(1.1);
  box-shadow: -10px 55px 5px 3px  hsla(0, 0%, 0%, 0.1);
  background-color: white;
  cursor: pointer;
}
.Img-block .Image{
  max-width: 300px;
  border-radius: 50vh;
  box-shadow: -5px 13px 5px hsla(0, 0%, 0%, 0.1);
}
@media (max-width: 768px) {
   .container {
    flex-wrap: nowrap;   
    height: auto;
    align-items: center; 
  }
}